body,
html {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root > * {
    margin: 0 0.3rem;
    font-size: 1.2rem;
}
